@import "../../style/variables.scss";

.crop {
    height: inherit;
    width: fit-content;
    position: relative;
    display: flex;
    margin: auto;

    .cropper {
        display: block;
        width: 100%;
        max-height: -webkit-fill-available;
        margin: auto;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 5;
        background: rgba(127, 255, 227, 0.4);
    }

    .image {
        margin: auto;
        height: fit-content;
        max-height: -webkit-fill-available;
        width: 100%;
        object-fit: contain;
    }

    .button {
        position: absolute;
        bottom: 1.5rem;
        left: 50%;
        transform: translateX(-50%);
        padding: 1rem;
        background: white;
        border-radius: .5rem;
        border: 1px solid grey;
        z-index: 100;
    }
}