@import "../../style/variables.scss";

.crop {
    height: inherit;
    width: fit-content;
    position: relative;
    display: flex;
    margin: auto;

    .cropper {
        display: block;
        max-width: 100%;
        max-height: -webkit-fill-available;
        margin: auto;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 5;
        background: rgba(127, 255, 227, 0.4);
    }

    .image {
        margin: auto;
        height: fit-content;
        max-height: -webkit-fill-available;
        width: 100%;
        object-fit: contain;
    }

    .navigation {
        position: fixed;
        bottom: 1rem;
        left: 50%;
        transform: translateX(-50%); 
        z-index: 100;
        ul {
            display: flex;
            gap: 1rem;
            li {
                display: flex;
                button {
                    padding: .75rem;
                    border-radius: .5rem;
                    background: white;
                    img {
                        height: 2rem;
                    }
                    &:disabled {
                        filter: opacity(.5);
                    }
                }
                &:last-child {
                    button {
                        background: yellowgreen;
                    }
                }
            }
        }
    }
}