@import "../../style/variables.scss";

.header {
    background: white;

    nav {
        padding: .25rem 1rem;
        border-bottom: 1px solid $grey-color-100;
    }

    ul {
        display: flex;
        align-items: center;

        li:nth-child(1) {
            text-align: initial;
            margin-right: auto;
            width: 9rem;
        }

        li:nth-child(2) {
            margin-right: 1rem;

            button {
                background: black;
                color: white;
                padding: .5rem .75rem;
                border-radius: .25rem;
            }
        }

        li:nth-child(3) {
            img {
                height: 1.5rem;
            }
        }
    }


    &>div {
        padding: 1rem;

        img {
            height: 2rem;
        }
    }
}